table{
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: sans-serif;
}

th{
    background-color: rgb(240, 77, 104);
    color: white;
}

.orange{
    background-color: pink;
}

img{
    height: 30px;
    width: 30px;
}
